.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin-top: 150px;
    /* background-color: rgba(105, 91, 91, 0.164); */
    /* background-image: linear-gradient(to right, #7f53ac 0, #657ced 100%); */

}

.login-container {
    display: flex;
    flex-direction: row;
    background-color: #fff;
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    overflow: hidden;
    width: 650px;

}

/* Information Section */
.login-info {
    padding: 1.5rem;
    background-color: #fff;
    font-family: 'DM Sans', sans-serif;
    font-size: 1rem;
    font-weight: 500;
}

.login-title {
    font-family: 'DM Sans', sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    margin: 1rem;
}

.login-title:hover {
    color: #0069D9;
}

.login-btn {
    background-color: #0069D9;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1rem;
    width: 100%;
}

.login-terms {
    font-family: 'DM Sans', sans-serif;
    font-size: 0.7rem;
    font-weight: 400;
    margin-top: 2rem;
    text-align: center;
}

.login-terms a {
    color: #0069D9;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
}

/* Image Section */

.login-image {
    position: relative;
    width: 410px;
}

.login-image img {
    display: block;
    width: 100%;
}

.login-image p {
    position: absolute;
    top: 200px;
    bottom: 0;
    left: 0;
    right: 0;
    color: rgba(255, 255, 255, 0.418);
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    font-weight: 500;
    text-align: center;
    /* transform: translateY(30%); */
}

.login-image span {
    display: none;
}