
.register {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin-top: 150px;
    /* background-color: rgba(199, 194, 194, 0.164); */
    
}

.register-container {
    display: flex;
    flex-direction: row;
    background-color: #fff;
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    overflow: hidden;
    width: 800px;
}

/* Image Section */

.register-image {
    position: relative;
    width: 900px;
}

.register-image img {
    width: 100%;
}

.register-image p {
    position: absolute;
    top: 200px;
    bottom: 0;
    left: 0;
    right: 0;
    color: rgba(95, 93, 93, 0.836);
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    font-weight: 500;
    text-align: center;
    /* transform: translateY(30%); */
}

.register-image span {
    display: none;
}

/* Information Section */

.register-info {
    padding: 1.5rem;
    background-color: #fff;
    font-family: 'DM Sans', sans-serif;
    font-size: 1rem;
    font-weight: 500;
}

.register-title {
    font-family: 'DM Sans', sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.register-title:hover {
    color: #0069D9;
}

.register-btn {
    background-color: #0069D9;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1rem;
    width: 100%;
}

.register-terms {
    font-family: 'DM Sans', sans-serif;
    font-size: 0.7rem;
    font-weight: 400;
    margin-top: 2rem;
    text-align: center;
}

.register-terms a {
    color: #0069D9;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
}




