

.landing {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}


.landing-image {
    height: 100vh;
    width: 100vw;
}

.landing-image img {
    width: 100%;
    height: 100%;
}

.landing-image span {
    display: none;
}

.landing-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-family: 'DM Sans', sans-serif;
}

.landing-content h1 {
    font-size: 3.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    line-height: 1.6;
    letter-spacing: 2px;
}

.landing-content p {
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 1rem;
    line-height: 1.6;
    letter-spacing: 2px;
}

.landing-content button {
    background-color: #FA2F2A;
    border: none;
    color: #000;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 5px;
}

.landing-content button:hover {
    background-color: #c50905c9;
    color: #000;
}