
.cart-container {
    display:flex;
    flex-direction: column;
    margin-top: 150px;
    height: 100vh;
    width: 100%;
}

.cart-container h1 {
    display: flex;
    justify-content: center;
    font-size: 3.5rem;
    color: #000;
    cursor: pointer;
}

.cart-container h1:hover {
    font-size: 3.5rem;
    color: #0069D9;
    cursor: pointer;
}


.btn-container {
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px solid rgba(199, 194, 194, 0.514);
    margin-bottom: 1rem;
}

.add-btn button {
    margin-bottom: 1rem;
    background-color: #0069D9;
    margin: 10px;
}

.chevron-icon {
    width: 20px;
    height: 16px;
    margin-left: 10px;
}

/* .checkout-btn button {
    background-color: #0069D9;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
} */

.cart-item {
    display: flex;
    align-items: center;
    width: 100%;
    /* background-color: rgba(199, 194, 194, 0.164); */
    /* border-bottom: 1px solid #000; */
    /* box-shadow: 0 0 4rem rgba(0, 0, 0, 0.5); */
    border-radius: 10px;
    margin-bottom: 0.5rem;
    overflow: hidden;
}

.cart-item-image {
    margin-left: 4rem;
    margin-right: 4rem;
}

.cart-item-image img {
    width: 100%;
    height: 100%;
}

.cart-item-details {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-right: 1.5rem;
    font-family: 'DM Sans', sans-serif;
}
.cart-item-name p {
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 0.5rem;
    margin-bottom: 10px;
}

.cart-item-delete {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-right: 1.5rem;
    font-family: 'DM Sans', sans-serif;
}

.cart-item-delete img {
    width: 20px;
}

.cart-item-delete img:hover {
    background-color: rgba(133, 127, 127, 0.274);
}

.cart-item-description p {
    font-size: 1rem;
    font-weight: 400;

}

.cart-item-subtotal {
    margin-right: 1.5rem;
}

.cart-item-subtotal p {
    font-size: 1rem;
    font-weight: 700;
    margin-top: 0.5rem;
    margin-bottom: 10px;
}


.cart-item-total p {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 1.3rem;
    font-weight: 700;
    margin-top: 0.5rem;
    margin-bottom: 10px;
    color: #FA2F2A;
}

.checkout-btn {
    display: flex;
    justify-content: flex-end;
}
