
/* Product View */

.product-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 150px;
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    overflow: hidden;
    cursor: pointer;
    border-right: 1px ;
}

.image-container {
    width: 100%;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content-container {
    width: 100%;
    padding: 1.5rem;
    background-color: #fff;
    font-family: 'DM Sans', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    /* background-color: rgba(105, 91, 91, 0.164); */
}


.cart-btn button {
    background-color: #FA2F2A;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1rem;
    width: 100%;
    height: 50px;
    border: none;
}

.cart-btn button:hover {
    background-color: #c50905c9;
}


/* Product Card */

.product-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 1rem;
}

.card {
    display: flex;;
    width: 100%;
    height: 100%;
    padding: 1rem;
    border-radius: 15px;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.5);
    /* background-image: linear-gradient(to right, #a7a4a480 0, #999aa046 100%); */

}

.card-info {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 1rem;
    font-family: 'DM Sans', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    margin-top: 1rem;
    color: black;
}

.card-info .card-name:hover {
    color: #0069D9;
}

.card-info .card-description {
    font-size: 1rem;
    font-weight: 400;
    color: #000;
    margin-top: 1rem;
}

.card-info .card-price {
    font-size: 1.5rem;
    font-weight: 700;
    color: #FA2F2A;
}
