
.user-container {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    margin-top: 150px;
}

.user-info {
    padding: 2rem;
    background-color: #fff;
    font-family: 'DM Sans', sans-serif;
    font-size: 1rem;
    font-weight: 500;
}

.user-title {
    font-family: 'DM Sans', sans-serif;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 2rem;
}