

/* Navbar Section */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffff;
    padding: 0 4rem; 
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header-left img {
    padding: 0.75rem 0.5rem;
    width: 150px;
    cursor: pointer;
}  

.header-middle {
    display: flex;
    align-items: center;
    font-family: 'DM Sans', sans-serif;
    font-size: 1rem;
    font-weight: 700;
}

.header-middle .header-option {
    padding: 1.5625rem 3.125rem;
    cursor: pointer;
}

.header-middle .header-option a {
    text-decoration: none;
    color: #000;
}

.header-option .dropdown {
    position: relative;
    display: inline-block;
}

.header-option .dropdown .drop-btn {
    border: none;
    outline: none;
    color: #000;
    background-color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    margin: 0;
}

.header-option a:hover, .dropdown:hover .drop-btn {
    color: #0087F9
}

.header-option .dropdown-content {
    display: none;
    position: absolute;
    left: -15px;
    background-color: #fff;
    min-width: 250px;
    z-index: 1;
}

.header-option .dropdown-content a {
    font-weight: 400;
    color: black;
    padding: 0.75rem 1rem;
    text-decoration: none;
    display: block;
    text-align: left;
}

.header-option .dropdown-content a:hover {
    color: #0087F9;
}

.header-option .dropdown:hover .dropdown-content {
    display: block;
}


.header-right {
    display: flex;
    align-items: center;
    padding: 1rem 1.875rem;
}


.header-login {
    width: 25px;
    cursor: pointer;
    margin-left: 0.75rem;
    margin-right: 0.75rem;
}

.login-dropdown {
    position: relative;
}

.login-dropdown img {
    position: absolute;
}

.login-dropdown {
    color: transparent;
}

.login-dropdown-content {
    display: none;
    position: absolute;
    left: -10px;
    background-color: #fff;
    min-width: 200px;
    z-index: 1;
}

.login-dropdown-content a {
    font-weight: 400;
    color: black;
    padding: 0.75rem 1rem;
    text-decoration: none;
    display: block;
    text-align: left;
}
.login-dropdown-content a:hover {
    color: #0087F9;
}

.login-dropdown:hover .login-dropdown-content {
    display: block;
}









.header-register {
    background-color: #0087F9;
    color: #fff;
    padding: 0.625rem 1.25rem;
    border-radius: 5px;
    cursor: pointer;
    /* background-image: linear-gradient(to right, #7f53ac 0, #657ced 100%); */
}

.header-register button {
    font-family: 'DM Sans', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    background-color: inherit;
    color: #fff;
    border: none;
    outline: none;
    width: 100%;
    cursor: pointer;
}

.header-register:hover {
    background-color: #0069D9;
    /* background-image: linear-gradient(to right, #c0a1db 0, #909de0 100%); */
}

.header-register:hover button:hover {
    background-color: #0069D9;
    /* background-image: linear-gradient(to right, #c0a1db 0, #909de0 100%); */
}



