
.dashboard {
    margin-top: 100px;
}

.dashboard-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: #fff;
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.5); */
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
}

.dashboard-container h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    font-weight: 700;
    margin-top: 5rem;
    margin-bottom: 2rem;
}

.dashboard-container h1:hover {
    color: #0069D9;
}

.product-order-btn {
    display: flex;
    margin-bottom: 1rem;
    cursor: pointer;
}

.add-btn, .show-btn, .users-btn {
    font-size: 1.5rem;
    font-weight: 700;
    margin-right: 1rem;
}

.product-order-btn span {
    font-family: 'Montserrat', sans-serif;
    font-size: .75rem;
    font-weight: 400;
}

.product-order-btn button {
    background-color: #FA2F2A;
    border: none;
}

.product-order-btn .add-btn button {
    margin-top: 4px;
    margin-right: auto;
}

.product-order-btn button:hover {
    background-color: #c50905c9;
}

.styled-table {
    font-size: 0.9em;
    font-family: 'Montserrat',sans-serif;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    margin-bottom: 30px;
    cursor: pointer;
}

.styled-table thead {
    background-color: #0069D9;
    color: #fff;
}

.styled-table th, 
.styled-table tr,
.styled-table td {
    border: 1px solid #000;
    padding: 15px 25px;
    text-align: center;
}

.styled-table tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

/* .styled-table tbody tr:hover {
    font-weight: bold;
    color: #000;
} */

/* Image Section */

.update-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    margin-left: 20px;
}

.update-icon:hover {
    background-color:  rgba(133, 127, 127, 0.274);
    cursor: pointer;

}

.plus-icon, .list-icon {
    width: 20px;
    height: 16px;
    margin-right: 10px;
}