@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Montserrat:wght@400;500;600;700&display=swap');


/*CSS Reset*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

