
.order-history {
    display: flex;
    flex-direction: column;
    margin-top: 150px;
    height: 100%;
    width: 100%;
}

.order-history-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    border-bottom: 1px solid rgba(199, 194, 194, 0.514);
}