
.error {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    /* background-color: rgba(199, 194, 194, 0.164); */
    text-align: center;
}

.error-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
    width: 600px;
    height: 400px;
}

.error-info h1 {
    font-family: 'DM Sans', sans-serif;
    font-size: 4rem;
    font-weight: 700;
    color: #000;
    margin-bottom: 1rem;
}

.error-info p {
    font-family: 'DM Sans', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #000;
    margin-bottom: 1rem;
}

.error-info .home-btn {
    font-family: 'DM Sans', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #fff;
    background-color: #0069D9;
    border: none;
    padding: 1rem 2rem;
    border-radius: 10px;
    cursor: pointer;
}